<div class="winds-outer" fxLayoutAlign="center center" fxLayout="column">
  <div class="back-button" fxLayoutAlign="start start">
    <button class="button" style="color: var(--orange-color);" (click)="previousPage()">Back</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="container">
    <h1 class="heading">Methane & Its Role</h1>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%" fxLayoutAlign="center center">
      <img class="equator" src="../../../../assets/methane-molecule.png" />
      <div>
        <span class="content1">Methane (CH4) is a colorless, odorless, flammable gas that is the primary component of
          natural gas. Methane is the simplest hydrocarbon, consisting of one carbon atom and four hydrogen atoms.
          Methane is a powerful greenhouse gas. It is used primarily as fuel to make heat and light. It is also used to
          manufacture organic chemicals.</span>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start" style="width: 90%;">
    <h4 class="content2">How methane is created?</h4>
    <!-- Method1 -->
    <h2 class="method-head">Agriculture:-</h2>
    <h5 class="method-para"><span style="color: var(--pink-color);">Livestock (Enteric Fermentation):</span> Cows,
      sheep, and other ruminants produce methane as a byproduct of digestion. In their stomachs, microorganisms break
      down food, releasing methane, which is then expelled by the animals.</h5>
    <!-- Method2 -->
    <h2 class="method-head">Waste Management:-</h2>
    <h5 class="method-para"><span style="color: var(--pink-color);">Landfills:</span> When organic waste decomposes
      anaerobically (without oxygen) in landfills, methane is generated. This process is driven by microorganisms that
      break down organic matter, such as food scraps and yard waste.</h5>
    <h5 class="method-para"><span style="color: var(--pink-color);">Wastewater Treatment:</span> Methane can also be
      produced during the anaerobic treatment of wastewater, particularly in the digestion of sludge.</h5>
    <!-- Method3 -->
    <h2 class="method-head">Fossil Fuel Extraction:-</h2>
    <h5 class="method-para"><span style="color: var(--pink-color);">Natural Gas and Oil Extraction:</span> Methane is
      the primary component of natural gas. During the extraction, processing, and transportation of natural gas and
      oil, methane can leak into the atmosphere. This leakage is often referred to as "fugitive emissions."</h5>
    <!-- Method4 -->
    <h2 class="method-head">Natural Sources:-</h2>
    <h5 class="method-para"><span style="color: var(--pink-color);">Wetlands:</span> Wetlands are the largest natural
      source of methane. The waterlogged, anaerobic conditions in wetlands provide an ideal environment for
      methane-producing microorganisms.</h5>
    <!-- Method5 -->
    <h2 class="method-head">Biomass Burning:-</h2>
    <h5 class="method-para"><span style="color: var(--pink-color);">Wildfires and Burning of Biomass:</span> Burning
      organic material, such as wood or agricultural residue, releases methane along with other greenhouse gases.</h5>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start" style="width: 90%;">
    <h1 class="heading" style="color: var(--blue-color);padding-top: 50px;">Most Efficient Ways to Reduce Methane
      Emissions:</h1>
    <!-- Points -->
    <h5 class="method-para" style="color: var(--violet-color);"><span style="color: var(--pink-color);">✴️Capture and Utilization:</span> Capturing methane
      that would otherwise be vented or flared and using it as a fuel source (e.g., converting it to liquefied natural
      gas or using it to generate electricity) can significantly reduce emissions.</h5>
    <h5 class="method-para" style="color: var(--violet-color);"><span style="color: var(--pink-color);">✴️Anaerobic Digestion of Manure:</span> Capturing
      methane from manure using anaerobic digesters, which convert the methane into biogas for energy use, is another
      effective strategy.</h5>
    <h5 class="method-para" style="color: var(--violet-color);"><span style="color: var(--pink-color);">✴️Landfill Gas Capture:</span> Installing systems to
      capture methane from landfills and convert it into energy is highly effective. This strategy not only reduces
      methane emissions but also provides a renewable energy source.</h5>
    <h5 class="method-para" style="color: var(--violet-color);"><span style="color: var(--pink-color);">✴️Dietary Supplements for Livestock:</span> Adding
      methane inhibitors or feed additives like seaweed to livestock diets can drastically reduce methane emissions from
      enteric fermentation.</h5>
  </div>
</div>