<div class="earthlist" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center center">
    <div class="header" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center center">
      <div>
        <img class="image-title" src="../../../../assets/chemistry-text.png" />
        <img class="header-image" src="../../../../assets/chemistry-lab.png" />
      </div>
      <div class="header-card" style="background-color: var(--lavender-color);">
        <h1 class="quest" style="color: var(--pink-color);">What is Chemistry?</h1>
        <h3 class="ans" style="color: var(--dark-blue-color);">Chemistry is a branch of science that deals with atoms,
          molecules, ions which makes the compounds that are essential for daily life by means of some chemical
          reactions.Chemicals are everywhere and are everything. Anything you can touch or smell or see contains one or
          more chemicals. Many occur naturally but some are man made.</h3>
      </div>
    </div>
    <div class="card">
      <h3 class="card-title">KNOW ABOUT CHEMISTRY!</h3>
      <div class="array-card" fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let item of earthlist;let i = index; let j index">
          <div class="inner-card" (click)="navigate(j)" fxLayout="column" fxLayoutAlign="center center"
            fxLayoutGap="2%">
            <img class="list-image" [src]="item?.image" />
            <h2 class="list-title">{{item?.title}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>