.landing-page {
  margin: 0;
  padding: 20px;
    background-color: #fdf98f;
  place-content: start;
  align-items: start;
}

.tolkappiyam-img {
  width: 95%;
  height: auto;
}

.card-title {
  text-align: center;
  font-size: 30px;
  width: 100%;
  font-weight: bold;
  color: #ff3d3d;
  margin: 10px;
}

.card-text {
  font-size: 15px;
  color: #830808;
  margin: 10px;
  text-align: justify;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff3d3d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #bc4747;
  font-weight: 500;
  font-family: 'PT Sans',sans-serif;
}


.btn:active {
  box-shadow: 0 3px #775757;
  transform: translateY(4px);
}