.landing-page {
  margin: 0;
  padding: 20px;
    background-color: #fdf98f;
  place-content: start;
  align-items: start;
}

.tolkappiyam-img {
  width: 95%;
  height: auto;
}

.card-title {
  text-align: center;
  font-size: 30px;
  width: 100%;
  font-weight: bold;
  color: #ff3d3d;
  margin: 10px;
}

.card-text {
  font-size: 15px;
  color: #830808;
  margin: 10px;
  text-align: justify;
}