<div id="navbar" fxLayoutAlign="space-between">
  <!-- <a href="#default" id="logo">CompanyLogo</a> -->
  <img src="../../../../assets/Henka.png" />
  <div id="navbar-right">
    <button class="button" [matMenuTriggerFor]="beforeMenu">Menu  ☰</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before" fxLayoutAlign="center center">
      <div class="menu-items" mat-menu-item>
        <div fxLayout="row" fxLayoutGap="4%" fxLayoutAlign="start center">
          <img class="menu-img" src="../../../../assets/politics.png" />
          <div fxLayout="column" fxLayout="start center" fxLayoutGap="2%">
            <h5 class="menu-head">Politics</h5>
          </div>
        </div>
      </div>
      <div class="menu-items" mat-menu-item>
        <div fxLayout="row" fxLayoutGap="4%" fxLayoutAlign="start center">
          <img class="menu-img" src="../../../../assets/astronomy.png" />
          <div fxLayout="column" fxLayout="start center" fxLayoutGap="2%">
            <h5 class="menu-head">Astronomy</h5>
          </div>
        </div>
      </div>
      <div class="menu-items" mat-menu-item>
        <div fxLayout="row" fxLayoutGap="4%" fxLayoutAlign="start center">
          <img class="menu-img" src="../../../../assets/brain.jpg" />
          <div fxLayout="column" fxLayout="start center" fxLayoutGap="2%">
            <h5 class="menu-head">Brain</h5>
          </div>
        </div>
      </div>
      <div class="menu-items" mat-menu-item routerLink="/app/physics">
        <div fxLayout="row" fxLayoutGap="4%" fxLayoutAlign="start center">
          <img class="menu-img" src="../../../../assets/physics.jpg" />
          <div fxLayout="column" fxLayout="start center" fxLayoutGap="2%">
            <h5 class="menu-head">Physics</h5>
          </div>
        </div>
      </div>
      <div class="menu-items" mat-menu-item routerLink="/app/earth">
        <div fxLayout="row" fxLayoutGap="4%" fxLayoutAlign="start center">
          <img class="menu-img" src="../../../../assets/earth.png" />
          <div fxLayout="column" fxLayout="start center" fxLayoutGap="2%">
            <h5 class="menu-head">Earth</h5>
          </div>
        </div>
      </div>
      <div class="menu-items" mat-menu-item>
        <div fxLayout="row" fxLayoutGap="4%" fxLayoutAlign="start center">
          <img class="menu-img" src="../../../../assets/architecture.png" />
          <div fxLayout="column" fxLayout="start center" fxLayoutGap="2%">
            <h5 class="menu-head">Architecture</h5>
          </div>
        </div>
      </div>
      <div class="menu-items" mat-menu-item routerLink="/app/technology">
        <div fxLayout="row" fxLayoutGap="4%" fxLayoutAlign="start center">
          <img class="menu-img" src="../../../../assets/technology.png" />
          <div fxLayout="column" fxLayout="start center" fxLayoutGap="2%">
            <h5 class="menu-head">Technology</h5>
          </div>
        </div>
      </div>
      <div class="menu-items" mat-menu-item routerLink="/app/angular">
        <div fxLayout="row" fxLayoutGap="4%" fxLayoutAlign="start center">
          <img class="menu-img" src="../../../../assets/angular.png" />
          <div fxLayout="column" fxLayout="start center" fxLayoutGap="2%">
            <h5 class="menu-head">Angular</h5>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>
</div>

<div class="render">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <span>Copyright @2024, Designed by SUJITHA</span>
</div>