<div class="earthlist" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center center">
    <div class="header" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center center">
      <div>
        <img class="image-title" src="../../../../assets/physics-text.png" />
        <img class="header-image" src="../../../../assets/atom.png" />
      </div>
      <div class="header-card" style="background-color: var(--yellow-color);">
        <h1 class="quest" style="color: var(--blue-color);">What is Physics?</h1>
        <h3 class="ans" style="color: var(--pink-color);">Physics is the branch of science that deals with the structure of matter and how the fundamental constituents of the universe interact. It studies objects ranging from the very small using quantum mechanics to the entire universe using general relativity.</h3>
      </div>
    </div>
    <div class="card">
      <h3 class="card-title">KNOW ABOUT PHYSICS!</h3>
      <div class="array-card" fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let item of earthlist;let i index">
          <div class="inner-card" (click)="navigate(i)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%">
            <img class="list-image" [src]="item?.image" />
            <h2 class="list-title">{{item?.title}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>