.asyncpipe {
  background-image: url('../../../../assets/bg4.webp');
  background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
}

.container {
  width: 90%;
  padding: 30px;
}

.heading {
  font-size: 30px;
  font-weight: 600;
  color: var(--yellow-color);
  font-family: cursive;
  margin-bottom: 40px;
}

.async-head {
  width: 350px;
  height: auto;
}

@media screen and (max-width:966px) {
  .container {
    width: 100%;
    padding: 15px;
  }
}

.content2 {
  margin-left: 75px;
  color: var(--white-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
}