.winds-outer {
  background-color: var(--white-color);
  padding-bottom: 20px;
}

.container {
  width: 90%;
  padding: 30px;
}

.heading {
  font-size: 40px;
  font-weight: 600;
  color: var(--pink-color);
  font-family: cursive;
  margin-bottom: 40px;
}

.equator {
  width: 475px;
  height: auto;
}

.content1 {
  font-size: 25px;
  font-family: cursive;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: var(--dark-blue-color);
}

.type-head {
  font-size: 29px;
  line-height: 27px;
  color: var(--blue-color);
  font-weight: 600;
}

.troposhpere {
  width: 250px;
  height: auto;
}

.type-content {
  line-height: 27px;
  color: var(--dark-blue-color);
  margin-bottom: 45px;
  // font-family: Helvetica, sans-serif;
  font-family: cursive;
}

.method-para {
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 27px;
  color: var(--dark-green-color);
  font-weight: 600;
  // margin: 45px 20px 30px 20px;
  font-family: cursive;
}

@media screen and (max-width:966px) {
  .container {
    width: 100%;
    padding: 15px;
  }
}