<div class="winds-outer" fxLayoutAlign="center center" fxLayout="column">
  <div class="back-button" fxLayoutAlign="start start">
    <button class="button" style="color: var(--orange-color);" (click)="previousPage()">Back</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="container">
    <h1 class="heading">Methane & Its Role</h1>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%" fxLayoutAlign="center center">
      <img class="equator" src="../../../../assets/methane-molecule.png" />
      <div>
        <span class="content1">Methane (CH4) is a colorless, odorless, flammable gas that is the primary component of
          natural gas. Methane is the simplest hydrocarbon, consisting of one carbon atom and four hydrogen atoms.
          Methane is a powerful greenhouse gas. It is used primarily as fuel to make heat and light. It is also used to
          manufacture organic chemicals.</span>
      </div>
    </div>
  </div>  https://www.grc.nasa.gov/www/k-12/airplane/rocket.html
</div>