<div class="asyncpipe">
  <div class="back-button" fxLayoutAlign="start start">
    <button class="button" style="color: var(--orange-color);" (click)="previousPage()">Back</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="container">
    <img class="async-head" src="../../../../assets/gun-powder-text.png" />
    <div fxFlex="80%" style="width: 100%;" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayoutAlign="start start" fxLayout="column" style="width: 100%;">
        <h2 class="heading">What is Gun Powder?🤔</h2>
        <p class="content">Gun Powder also known as <span
            style="background-color: var(--dark-green-color); padding:4px 8px;font-weight:600; color: #000a00;">black
            powder</span>, is a chemical mixture used as a propellant. It consist of three3️⃣ components: potassium
          nitrate (saltpeter), charcoal, and sulfur. The typical proportions are:</p>

        <div style="margin-bottom: 60px;">
          <h2 class="heading">How to make Gun Powder?🤔</h2>
          <h4 class="sub-content" style="font-size: 21px;">It's all about the chemistry and how efficient the reaction.
            The formula has been tried and tested for
            many hundreds of years and the best formula is "75/15/10," which means 75% potassium nitrate, 15% charcoal
            and 10% sulfur. This formula has been known for centuries as one which will produce powerful black powder.
          </h4>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="3%">
            <div fxLayout="column">
              <h5 class="sub-head">1. Potassium Nitrate (Saltpeter) - 75%</h5>
              <p class="sub-content">Acts as the oxidizer, providing the oxygen needed for the combustion process.</p>
              <h6 class="side-content"><span style="color: var(--dark-green-color);">⬆️Increasing Potassium
                  Nitrate:</span>
                Enhances the oxidizing power, leading to a faster and more powerful reaction.</h6>
              <h6 class="side-content"><span style="color: var(--dark-green-color);">⬇️Decreasing Potassium
                  Nitrate:</span>
                Slows down the reaction, reducing the overall power and efficiency.</h6>
              <h5 class="sub-head">2. Charcoal (Carbon) - 15%</h5>
              <p class="sub-content">The fuel, which burns to produce hot gases that cause expansion and propulsion.</p>
              <h6 class="side-content"><span style="color: var(--dark-green-color);">⬆️Increasing Charcoal:</span>
                Produces more gas and smoke, which can increase the volume of the explosion.</h6>
              <h6 class="side-content"><span style="color: var(--dark-green-color);">⬇️Decreasing Charcoal:</span>
                Reduces the amount of gas produced, leading to a weaker explosion.</h6>
              <h5 class="sub-head">3. Sulfur - 10%</h5>
              <p class="sub-content">Lowers the ignition temperature and increases the speed of combustion, making the
                mixture more efficient.</p>
              <h6 class="side-content"><span style="color: var(--dark-green-color);">⬆️Increasing Sulfur:</span>
                Lowers the ignition temperature, making the mixture easier to ignite.</h6>
              <h6 class="side-content"><span style="color: var(--dark-green-color);">⬇️Decreasing Sulfur:</span>
                Raises the ignition temperature, making it harder to ignite.</h6>
            </div>
            <div>
              <img class="async-head" src="../../../../assets/blackpowder.png" />
            </div>
          </div>
        </div>
        <h2 class="heading">Modern Gun Powder</h2>
        <p class="sub-content"> It is generally made from <span
            style="background-color: var(--dark-green-color); padding:4px 8px;font-weight:600; color: #000a00;">Nitrocellulose</span>
          as the base material. The nitrocellulose may be
          derived from purified cellulose, such as from cotton linters or wood, which is then nitrated by being treated
          with nitric and sulfuric acids. Pistol powders and some rifle powders may also contain as much as 40%
          nitroglycerin. This is called a double based powder. Not only do the components matter significantly, even the
          size and shape of the granules of powder have a tremendous effect on the pressure produced. Very fine granules
          burn much faster that large pellets of powder. The largest nitrocellulose granules are larger than your thumb
          and were used in 16 inch naval guns.</p>
        <div>

        </div>

      </div>
    </div>
  </div>