<div class="winds-outer" fxLayoutAlign="center center" fxLayout="column">
  <div class="back-button" fxLayoutAlign="start start">
    <button class="button" style="color: var(--orange-color);" (click)="previousPage()">Back</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="container">
    <h1 class="heading">What makes the wind blow?</h1>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%" fxLayoutAlign="center center">
      <img class="equator" src="../../../../assets/equator.png" />
      <div>
        <span class="content1">Near the poles the sun’s🌞 rays always strike the ground at an angle. Near the Equator
          the rays are more perpendicular. The difference in solar energy received at different latitudes drives
          atmospheric
          circulation. Places that get more solar energy have more heat🌡️. Places that get less solar energy have less
          heat.
          Warm air rises and cool air sinks. These principles mean that air moves around the planet🪐. The heat moves
          around
          the globe🌎 in certain ways. This determines the way
          the atmosphere moves.</span>
      </div>
    </div>
    <h4 class="content2">⭐Within the troposphere Air heated at the ground rises, creating a low pressure zone. Air from
      the surrounding area is sucked into the space left by the rising air. Air flows horizontally at the top of the
      troposphere. The air cools until it descends. When the air reaches the ground, it creates a high pressure zone.
      Air flowing from areas of high pressure to low pressure creates winds. The greater the pressure difference between
      the pressure zones, the faster the <span style="color: var(--yellow-color);">wind blows.</span></h4>
      <div>
        <img class="troposhpere" src="../../../../assets/troposhpere.png" />
      </div>
  </div>
</div>