<div class="angular-history">
  <div class="back-button" fxLayoutAlign="start start">
    <button class="button" style="color: var(--orange-color);" (click)="previousPage()">Back</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="container">
    <img class="history-head" src="../../../../assets/angular-history.png" />
    <div fxFlex="80%" fxLayout="column" fxLayoutAlign="center center">

      <div class="main">
        <ul class="timeline">
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>AngularJS (2010):</h1>
              <h3>Release Date: AngularJS, also known as Angular 1.x was released in 2010 by Google.</h3>
              <p>It was created by Misko Hevery and a team at Google to simplify building dynamic web applications.
                AngularJS became one of the most popular frameworks for building SPAs(Single Page Applications). A
                flexible architectural pattern,
                often referred to as MVC (Model-View-Controller) but allowing variations.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 2 (2016):</h1>
              <h3>Release Date: Angular 2 was released in September 2016.</h3>
              <p>Angular 2 was a complete rewrite of AngularJS, and it was a major shift in how developers built Angular
                applications. This new version was referred to as simply "Angular", while the original version became
                known as AngularJS.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 4 (2017):</h1>
              <h3>Release Date: March 2017.</h3>
              <p>Google skipped Angular 3 to avoid confusion due to misaligned version numbers of core libraries.
                Instead, they released Angular 4.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 5 (2017):</h1>
              <h3>Release Date: November 2017.</h3>
              <p> Angular 5 was a smaller update focused on improving the performance and developer experience.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 6 (2018):</h1>
              <h3>Release Date: May 2018.</h3>
              <p>Angular 6 introduced updates that focused on making it easier to develop and maintain Angular
                applications with tools like the Angular CLI.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 7 (2018):</h1>
              <h3>Release Date: October 2018.</h3>
              <p>Angular 7 focused on improving performance and providing better development tools, especially in terms
                of UI components.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 8 (2019):</h1>
              <h3>Release Date: May 2019.</h3>
              <p> Angular 8 marked the beginning of some exciting changes for the framework, with a major focus on Ivy,
                the new Angular rendering engine.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 9 (2020):</h1>
              <h3>Release Date: February 2020.</h3>
              <p>Angular 9 was the milestone where Ivy became the default rendering engine for all Angular applications.
              </p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 10 (2020):</h1>
              <h3>Release Date: June 2020.</h3>
              <p>Angular 10 introduced relatively fewer features, focusing more on maintaining stability, cleaning up
                code, and improving existing functionality.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 11 (2020):</h1>
              <h3>Release Date: November 2020.</h3>
              <p>Angular 11 improved build speed and developer productivity.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 12 (2021):</h1>
              <h3>Release Date: May 2021.</h3>
              <p>Angular 12 laid the foundation for Angular’s future development.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 13 (2021):</h1>
              <h3>Release Date: November 2021.</h3>
              <p>Angular 13 brought enhancements to features introduced in earlier versions.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 14 (2022):</h1>
              <h3>Release Date: June 2022.</h3>
              <p>Angular 14 introduced a major feature that improved type safety for reactive forms.</p>
              <button>Learn More</button>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-content">
              <h1>Angular 15 (2022):</h1>
              <h3>Release Date: November 2022.</h3>
              <p>Focused on enhancing development experience and runtime performance.</p>
              <button>Learn More</button>
            </div>
          </li>
        </ul>
      </div>

      <h3 class="heading">Angular continues to evolve rapidly with new features and optimizations focused on improving performance, developer experience, and compatibility with the latest web technologies. The move towards more modular components and better TypeScript support is making Angular an even more powerful and modern framework.</h3>
    </div>
  </div>
</div>