<div class="angular-history">
  <div class="back-button" fxLayoutAlign="start start">
    <button class="button" style="color: var(--orange-color);" (click)="previousPage()">Back</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="container">
    <img class="equator" src="../../../../assets/angular-text.png" />
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%" fxLayoutAlign="center center">
      <div>
        <span class="content1">The atmosphere is a mixture of gases that surrounds the planet. We also call it air. The
          gases in the air include nitrogen, oxygen, and carbon dioxide. Along with water vapor, air allows life to
          survive. The atmosphere protects living things from the ☀️sun’s most harmful rays. Gases reflect or absorb the
          strongest rays of sunlight.</span>
      </div>
    </div>
  </div>
</div>